{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/quotes": 0,
    "no-console": "error",
    "array-callback-return": "error",
    "no-constructor-return": "error",
    "no-duplicate-imports": "off",
    "no-new-native-nonconstructor": "error",
    "no-self-compare": "error",
    "no-template-curly-in-string": "error",
    "no-unused-private-class-members": "error",
    "class-methods-use-this": "error",
    "consistent-return": "error",
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "init-declarations": "error",
    "no-eq-null": "error",
    "no-extend-native": "error",
    "no-implicit-coercion": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "no-implicit-globals": "error",
    "no-magic-numbers": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-var": "error",
    "prefer-object-spread": "error",
    "require-await": "error",
    "yoda": "error",
    "explicit-function-return-type": "off"
  }
}