.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
pnpm-lock.yaml
nhost/.env.development
nhost/*.env
nhost/*.development
nhost/.env.development
.env.*
.env.development
