html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* html.dark {
  background: #121212;
  color-scheme: dark;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.125em;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 0.875em;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
